<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title> Push App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Notificaciones Push</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
    {{pushService.messages | json}}
    <ion-item *ngFor="let item of pushService.messages">
      <ion-label>
        {{item?.payload?.title}}
        <p>{{item?.payload?.body}}</p>
        <p>{{item?.payload?.additionalData | json}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
